---
layout: default
---

<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
		
<div class="well">
<h2>Welcome to (the) Craft of Electronics!</h2>

<p>We're creating a world where it's possible for students to learn college-level electronics in a craft-first (and theory-sometime-later) format, through learning from, participating in, and contributing to the open hardware movement.</p>
</div>
</div>

<div class="row">
  <div class="span12">
    {{ content }}
  </div>
</div>
